# ==========================================
# SIGAP AI-SERVICE ENVIRONMENT
# ==========================================

APP_ENV=development
HOST=0.0.0.0
PORT=8001

# Laravel Backend API Target URL
LARAVEL_API_URL=http://backend:8000/api

# Target Intersection Code
INTERSECTION_CODE=BDG-IBR-ADJ-01

